<div class="row">
  <div class="column">
    <h2>
      <%= theme.index_title %>
    </h2>
    <p>
      I'm Ryan, a third-year physics and computer science student at the University of Waterloo. I'm interested in
      software engineering, computational physics, high-performance computing, finance, and startups. In my free
      time, I enjoy playing poker, chess, watching documentaries, and taking walks in the park.
    </p>
  </div>
</div>
